/* Style principal du composant */
.portfolio-details {
  position: relative;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  color: white;
  padding: 0 20px;
  width: 100%;
  /* margin-top: -2%; */
  overflow: hidden;
}

.portfolio-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.18; 
  z-index: -1; 
}

.portfolio-content {
  position: relative; /* Position relative pour rester au-dessus de l'arrière-plan */
  z-index: 1; /* Positionner au-dessus de l'arrière-plan */
}

.retour-txt {
  display: flex;
  flex-direction: column;
}
  
  .details-visu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .video-container {
    height: fit-content;
  }
  
  .project-video {
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 20px;
  }
  /* .project-description {
    padding-top: 3%;
  } */
  /* Section texte du projet */
  .project-txt {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Inclut padding et border dans la largeur */
    /* padding-top: 5%; */
    z-index: 10;
    gap: 20px;
    /* width: 800px; */
  }

  .project-details {
    min-width: 300px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
  }
  .programmes-details {
    width: 300px;
    padding: 15px;
  }
  /* Conteneur principal du projet */
  .project-content {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;  /* Espacement entre les éléments */
    flex-wrap: wrap;  /* Permet aux éléments de se mettre à la ligne si l'espace est insuffisant */
    flex-direction: row;
    align-items: none;
    gap: 40px;  /* Espacement entre les éléments */
    box-sizing: border-box;
    margin-top: 5%;
  }
  @media (min-width: 1260px) {
    .programmes-images {
      width: 520px;
    }
  }
  @media (max-width: 1259px) {
    .project-content {
      flex-direction: column-reverse; /* Colonne inversée */
      align-items: center;
    }
    .project-description {
      padding-top: 0;
    }

    .project-txt {
      display: flex;
      /* align-self: flex-start;  */
      flex-direction: row;
    }
    .project-details {
      flex-direction: column;
      /* padding-top: 12%; */
      align-items: start;
    }
    .programmes-images {
      width: 170px;
    }
  }
  @media (max-width: 894px) {
    .project-txt {
      width: 750px;
    }
    .project-content {
      align-items: center;
    }
    .project-video {
      width: 750px;
    }
    .programmes-images {
      width: 170px;
    }
  }
  @media (max-width: 830px) {
    .project-txt {
      width: 600px;
    }
    .project-video {
      width: 600px;
    }
    .programmes-images {
      width: 170px;
    }
  }
  @media (max-width: 695px) {
    .project-txt {
      width: 500px;
      flex-direction: column;
    }
    .project-video {
      width: 500px;
    }
    .programmes-images {
      width: 430px;
    }
  }
  @media (max-width: 600px) {
    .project-txt {
      width: 450px;
      flex-direction: column;
    }
    .project-video {
      width: 450px;
    }
    .programmes-images {
      width: 350px;
    }
  }
  @media (max-width: 530px) {
    .project-txt {
      width: 400px;
      flex-direction: column;
    }
    .project-video {
      width: 400px;
    }
    .programmes-images {
      width: 270px;
    }
  }
  @media (max-width: 480px) {
    .project-txt {
      width: 350px;
      flex-direction: column;
    }
    .project-video {
      width: 350px;
    }
  }
  @media (max-width: 434px) {
    .project-txt {
      width: 300px;
      flex-direction: column;
    }
    .project-video {
      width: 300px;
    }
    .programmes-images {
      width: 170px;
    }
  }
  @media (max-width: 1239px) {
    .project-details {
      padding-top: 0;
    }
  }

  @media (max-width: 463px) {
    .project-txt {
      display: flex;
      align-self: flex-start; 
      flex-direction: column;
    }
  }

  .toggle-butto-programs {
    width: 180px;
    margin-bottom: 10%;
    border: 2px solid grey;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  .toggle-butto-programs:hover {
    background-color: rgb(76, 74, 74);
    transform: scale(1.1); /* Zoom à 110% */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }
  .btn-back {
    width: 100px;
    margin-bottom: 10%;
    border: 2px solid grey;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  .btn-back:hover {
    background-color: rgb(76, 74, 74);
    transform: scale(1.1); /* Zoom à 110% */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
  }

  /* Flex pour le texte et la vidéo */
  .project-txt, .video-container {
    flex: 1 1 250px;  /* Les deux éléments prennent de l'espace de manière flexible */
  }
  
  /* Mise en page des titres et des paragraphes */
  .project-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .project-content p {
    margin: 8px 0;
  }
  
  /* Carousel d'images du projet */
  .project-image-container {
    display: flex;
    width: 100vw;  /* Largeur de la vue entière */
    justify-content: flex-start;  /* Les images s'alignent à gauche */
    align-items: center;
    gap: 15px;
    overflow-x: auto;  /* Active le défilement horizontal */
    padding: 10px 0;  /* Espace au-dessus et en-dessous */
    scroll-snap-type: x mandatory;  /* Effet de "snap" sur chaque image */
  }
  
  .carousel {
    display: flex;
    flex-direction: row;  /* Les images sont alignées horizontalement */
    gap: 15px;  /* Espacement entre les images */
  }
  
  .carousel-item {
    flex-shrink: 0;  /* Empêche la réduction des éléments */
    scroll-snap-align: start;  /* Alignement des images lorsqu'elles sont arrêtées */
  }
  
  .project-image {
    max-width: 100%;  
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);  /* Ombre autour des images */
  }
  
  /* Espacement et alignement de l'image */
  .project-image-container img {
    /* max-width: 600px; */
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  /* Effet d'ombre pour les titres et les paragraphes */
  .portfolio-details h1,
  .portfolio-details p {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Pour un effet de texte en surbrillance */
  }
  
  /* Section des compétences utilisées */
  .programmes-images {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .programmes-images {
    display: flex; /* Aligne les éléments horizontalement */
    overflow-x: auto; /* Active le défilement horizontal si nécessaire */
    gap: 10px; /* Ajoute de l'espacement entre les éléments */
    padding: 10px; /* Ajoute un peu d'espace autour des éléments */
    white-space: nowrap; /* Empêche les éléments de revenir à la ligne */
    scrollbar-width: thin; /* Ajuste la largeur de la scrollbar (pour Firefox) */
}
.programmes-images::-webkit-scrollbar {
  height: 6px; /* Hauteur de la barre */
}

.programmes-images::-webkit-scrollbar-thumb {
  background: #888; /* Couleur de la barre */
  border-radius: 3px;
}

.programmes-images::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de la barre au survol */
}

  .programs-images {
    min-width: 200px !important;
    padding: 0 !important;
  }
  .program-image {
    margin-top: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .program-image img {
    width: 70px;
  }
  